.fechaHora {
    align-items: center;
    justify-content: center;
    color: antiquewhite;
}

.fechaHora div {
    width: 70%;
}

.fechaHora img {
    width: 30%;
    height: fit-content;
}

.notas {
    flex-direction: column;
}

.notas input {
    width: 90%;
    margin: 10px;
    font-size: 14px;
    border-radius: 6px;
    line-height: 1.5;
    padding: 5px 10px;
    transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
    border: 2px solid #dee1e2;
    color: rgb(14, 14, 16);
    background: #dee1e2;
    display: block;
    height: 36px;

    :hover {
        border-color: #ccc;
    }

    :focus {
        border-color: #9147ff;
        background: #fff;
    }


}

.text-original {
    color: black;
    /* Color original del texto */
}

.text-blue {
    color: blue;
    /* Color azul para el texto */
}