.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /* Divide en tres columnas iguales */
    gap: 20px; /* Espacio entre columnas */
}

.column {
    margin-top: 3%;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.cardHome {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    margin-left: 15%;
    width: 70%;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.cardHome .card-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
}

.cardHome .card-text {
    color: #555;
    margin-bottom: 15px;
}

.cardHome .btn {
    width: 10%;
    margin-top: 10px;
    font-size: 14px; /* Tamaño de la fuente */
    padding: 5px 10px; /* Ajustar el padding para reducir el tamaño del botón */
}
.detail-button {
    background-color: #007bff; /* Color de fondo */
    color: #fff; /* Color del texto */
    padding: 8px 16px; /* Relleno interno */
    border: none;
    font-size: 14px; 
    border-radius: 4px; /* Bordes redondeados */
    cursor: pointer; /* Cambia el cursor al pasar sobre él */
}

.detail-button:hover {
    background-color: #0056b3; /* Cambio de color al pasar el cursor */
}

