.fechaHora {
    align-items: center;
    justify-content: center;
    color: antiquewhite;
}

.fechaHora div{
    width: 70%;
}

.fechaHora img{
    width: 30%;
    height: fit-content;
}

.notas {
    flex-direction: column;
}

.notas input {
    width: 100%;
    margin: 10px;
}