.btn1, .btn2 {
    font-family: sans-serif;
    font-size: 48px;
    color: #ffffff;
    width: 433px;
    height: 130px;
    border-radius: 12px;
}

.btn1 {
    margin-top: 40px;
    background-color: #0F4571;
}

.btn2 {
    margin-top: 40px;
    background-color: #2DAAE1;
}