body {
  background-color: #3A3132;
}

/* unvisited link */
a:link {
    color: red;
  }
  
  /* visited link */
  a:visited {
    color: rgb(26, 155, 106);
  }
  
  /* mouse over link */
  a:hover {
    color: hotpink;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }

.app {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-form {
    margin-top: 5%;
    padding: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .error {
    color: red;
    font-size: 12px;
  }

  .inputPass {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .inputPassText {
    width: 80%;
  }